@tailwind base;
@tailwind components;
@tailwind utilities;


.modal-enter {
    transform: translateY(100%);
    opacity: 0;
}
.modal-enter-active {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translateY(0);
    opacity: 1;
}
.modal-leave-active {
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    transform: translateY(100%);
    opacity: 0;
}


/* Tailwind CSS classes for smooth animation and transition */
#upload-container.show {
    opacity: 1;
  }
  
.hidden {
display: none;
}

.custom-confirm-button,
.custom-success-button
{
    background-color: #4CAF50 !important; /* Green */
    color: white !important;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}